<h1>Welcome <%= @user.username.capitalize %></h1>

<h2>Dashboard:</h2>

<div class="conditions_content">
    <table>
        <ul>
        <% @user.posts.each do |post| %>
            <li><div class="conditions_list">
                <p>Condition: <%= post.condition.capitalize %></p>
                <p>Rating: <%= post.rating %></p>
                <p><%= post.comments %></p>
                <p><%= post.updated_at %></p>
                <a href="/posts/<%= post.id %>/edit">Edit</a>
                <a href="/posts/<%= post.id %>/delete/account">Delete</a>
                </div>
            </li>
        <% end %>
        </ul>
    </table>
</div>

