<div class="intro_bar">
    <div class="intro_title">
        <h2 class="title_shadow"><%= @entries[0].condition.capitalize %></h2>
    </div>

    <div class="account_buttons">
        <a href="/create_post"><div class="new_entry_btn acc_button">New Entry</div></a>
        <div class="divider acc_button">|</div>
        <a href="/condition"><div class="view_by_condition_btn acc_button">View By Condition</div></a>
        <div class="divider acc_button">|</div>
        <a href="/progress"><div class="progress_btn acc_button">Progress</div></a>
    </div>
</div>

<div class="page_content">
    <%= line_chart Post.where(:user_id => current_user.id, :condition => @entries[0].condition ).group_by_day(:created_at).sum(:rating) %>
</div>

<div class="conditions_content">
    <table>
        <ul>
            <% @entries.each do |entry| %>
                <li>
                    <div class="conditions_list">
                        <%= entry.condition.capitalize %>
                        <p>Rating: <%= entry.rating %></p>
                        <%= entry.comments %>
                        <%= entry.updated_at %>
                        <p>
                            <a href="/posts/<%= entry.id %>/edit">Edit</a>
                            <a href="/posts/<%= entry.id %>/delete/account">Delete</a>
                        </p>
                    </div>
                </li>
            <% end %>
        </ul>
    </table>
</div>